#main {
  .background {
    position: relative;
    min-width: 800px;

    .current-car {
      position: absolute;
      top: 43.5%;
      left: 10%;
      width: 5%;
    }
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}
